:root {
  --colorA : rgb(235, 117, 188);
  --colorB : rgb(237, 132, 245);
  --colorC : rgb(159, 48, 219);
  --colorD : rgb(125, 56, 244);
  --colorE : rgb(142, 134, 235);
  --colorF : rgb(94, 61, 138);
}


html body {
  margin: 0;
}
.displayTasks-container{
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.inline{
  display: inline-block;
}

.large-display-text{
  text-align: center;
}
.left-main-panel{
  background-color: var(--colorF);
}

.main-container{
  display: grid;
  grid-template-columns: 10% 90%;
  height: 100vh;
}

.right-main-panel{
  background-color: var(--colorE);
}
.right-panel-overlay{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 95%;
  background-color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 10px;
}
.todo-text-input-container{
  margin: 50%;
}
.text-input-container{
  display: block;
}
