:root {
  --toothBrushPink : rgb(235, 117, 188);
  --colorB : rgb(237, 132, 245);
  --colorC : rgb(159, 48, 219);
  --colorD : rgb(125, 56, 244);
  --colorE : rgb(142, 134, 235);
  --colorF : rgb(94, 61, 138);
}


html body {
  margin: 0;
}
ul li{
  list-style-type: none;
  margin-left: 0%;
  margin: 0%;
}
.displayTasks-container{
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.inline{
  display: inline-block;
}

.large-display-text{
  text-align: center;
}
.left-main-panel{
  background-color: var(--colorF);
}

.main-container{
  display: grid;
  grid-template-columns: 10% 90%;
  height: 100vh;
}

.right-main-panel{
  background-color: var(--colorE);
}
.right-panel-overlay{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 95%;
  background-color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 5% 80% 15%;
}
.task-checkbox{
  height: 100%;
  width: fit-content;
}
.task-conatiner{
  padding: .25em;
}
.task-container-overlay{
  display: grid;
  grid-template-columns: 5% 60% 20% 15%;
  border: 1em solid var(--toothBrushPink);
  border-radius: 15px;
}
.todo-container{
  overflow-y: auto;
}
.todo-text-input-container{
  position: relative;
}
.text-input-container{
  display: block;
}
